.especialidades-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

.create-btn {
  margin-bottom: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

button[nz-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}
